font-face {
    font-family: fonte1;
    src: url(fontes/Good\ Wish.otf);
}

@font-face {
    font-family: fonte2;
    src: url(fontes/KGRedHands.ttf);
} /*  fonte parágafro */

@font-face {
    font-family: fonte3;
    src: url(fontes/appopaint-Regular.otf);
}/* Fonte h1  */

@font-face {
    font-family: fonte4;
    src: url(fontes/edosz.ttf);
} /* fonte navBar */





body{
    min-height: 100vh;
    /* width: 90%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: grid; */
    /* place-items: center; */

    /* background: linear-gradient(50deg, black, black, rgba(255, 145, 0, 0.822), rgba(0, 110, 255, 0.507), rgb(0, 0, 0), black); */
    background-color: #FFAB02;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23FFAB02' cx='50' cy='0' r='50'/%3E%3Cg fill='%23ff9c1e' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff8d2f' cx='50' cy='100' r='50'/%3E%3Cg fill='%23ff7f3c' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff7248' cx='50' cy='200' r='50'/%3E%3Cg fill='%23fc6654' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23f45b5e' cx='50' cy='300' r='50'/%3E%3Cg fill='%23ea5267' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23de4c6f' cx='50' cy='400' r='50'/%3E%3Cg fill='%23d14777' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c1447c' cx='50' cy='500' r='50'/%3E%3Cg fill='%23b14380' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239f4283' cx='50' cy='600' r='50'/%3E%3Cg fill='%238d4184' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%237a4183' cx='50' cy='700' r='50'/%3E%3Cg fill='%23674080' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23543f7b' cx='50' cy='800' r='50'/%3E%3Cg fill='%23413c75' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%232e3a6d' cx='50' cy='900' r='50'/%3E%3Cg fill='%231b3664' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%2303325A' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: contain;
}

html{
    scroll-behavior: smooth;
}


/* ----------SCROLL-------- */

::-webkit-scrollbar{
    width: 0;
}

#scrollPath{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255,255,255,0.05);
}

#progressobar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: gradientScroll 5s linear infinite;
}


/* ----ANIMAÇÃO SCROLL */

@keyframes gradientScroll {
    0%, 100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
    
}

#progressobar:before{

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #ffd000, #ff0000 );
    filter: blur(30px);
}

#progressobar:after{

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7 );
    filter: blur(30px);
}

/* ----FIM SCROLL */


/* --------- EFEITO VIDRO NAVBAR------- */

.header{

    max-height: 10%;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 1em;

    width: 100%;
    padding: 10px 15px;
    background: rgba(255, 255, 255, .1);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
}

.header::before{

    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255, .4), transparent);
    transition: 1s;
}

.header:hover:before{
    left: 100%;
}


/*---------------- BOTÃO NAVBAR------- */


.navbar a{
    margin: 2em;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    margin-left: 35px;
    transition: 1s;
    font-family: fonte4;
    transition: all .5s ease-in-out;
    
}

.navbar a:hover{
    color: rgb(255, 230, 0);
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
    padding: 10px 15px;
    border-radius: 1.5em .5em;
    
}


/* --------FINAL BOTÃO NAVBAR */

/*---------LOGO NAVBAR ----------  */

.img-logo{
    margin-top: 10em;
    width: 30%;
    padding-right: 20%;
    transition: all 1s;
}

.img-logo:hover{
    margin-top: 15em ;
    width: 29%;
}


/* DARKMODE */

.dark-mode{
    /* background: white; */
    /* background: linear-gradient(40deg, white, rgb(255, 115, 0), rgb(255, 196, 0), white, black); */
    background-color: #FFF40E;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23FFF40E' cx='50' cy='0' r='50'/%3E%3Cg fill='%23e0f621' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23bff735' cx='50' cy='100' r='50'/%3E%3Cg fill='%239df74a' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%2376f65e' cx='50' cy='200' r='50'/%3E%3Cg fill='%2341f372' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300f086' cx='50' cy='300' r='50'/%3E%3Cg fill='%2300ed9b' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300e9ae' cx='50' cy='400' r='50'/%3E%3Cg fill='%2300e4c2' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300dfd4' cx='50' cy='500' r='50'/%3E%3Cg fill='%2300d9e4' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300d3f3' cx='50' cy='600' r='50'/%3E%3Cg fill='%2300ccff' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300c5ff' cx='50' cy='700' r='50'/%3E%3Cg fill='%2300bdff' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300b5ff' cx='50' cy='800' r='50'/%3E%3Cg fill='%2300acff' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300a2ff' cx='50' cy='900' r='50'/%3E%3Cg fill='%230098ff' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23148DFF' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: contain;
}

/*  NAVBAR*/

.dark-mode .galeria-h1{
    background: rgba(112, 111, 111, 0.651);
    color: #000000;
}

.dark-mode .pr-h1{
    color: black;
    background: rgba(255, 255, 255, 0.644);
}

.dark-mode header{
    color: black;
    background: rgba(255, 255, 255, 0.521);
}

.dark-mode .navbar a:hover{
    color: white;
    background: black;
}

.dark-mode .navbar a{
    color: black;
}

/* footer */

.dark-mode .footer-container{
    background: rgba(255, 255, 255, 0.411);
}

.dark-mode .icon3:hover{
    background: black;
    color: white;
}

.dark-mode .icon3 i:hover{
    color: white;
}

.dark-mode .footerNav a{
    color: black;
}

.dark-mode .footer-bottom{
    color: black;

}


/* FORMATAÇÃO BOTAO DARKMODE */
section{
    top: 0;
    left: 1;
}

.darkmode label{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center ;
    align-items: center;

}


.darkmode input{
    position: absolute;
    opacity: 0;
}

/* ------------icones---------- */
#sun{
    position: absolute;
    font-size: 2em;
    color: #666;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.644));
    transform: scale(0);
    transition: 1s ease;
}

.darkmode input:checked~#sun{
    transition-delay: .8s ;
    transform: scale(1) rotate(360deg);
}


#moon{
    font-size: 2em;
    color: #666;
    filter: drop-shadow(0 0 2px rgba(0, 0 ,0, .5));
    transition: 1s ease;

}

.darkmode input:checked~#moon{
    transition-delay: 0s ;
    transform: rotate(360deg) scale(0);
}

/*--------final icones------------- */

.toggle{
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    background: #2b2b2b;
    border-radius: 50%;
    box-shadow: 
    inset 0 8px 60px rgba(70, 70, 70, 0.1),
    inset 0 8px 8px rgba(80, 80, 80, 0.1),
    inset 0 -4px 4px rgba(99, 99, 99, 0.1);
    z-index: -1;
    transition: 1s;
}

.darkmode input:checked~.toggle{
    background: #f8f8f8;

}


/* intro---------------------- */
html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: sans-serif;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    font-family: inherit;
    box-sizing: inherit;

}

img{
    width: 15%;
}

.intro{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    background-color: #000;
    transition: 2s;

}

.intro img{
    top: 150px;
    position: absolute;
}

.intro p{
    color: white;
    font-size: 1.5rem;
    margin-top: 350px;
    font-family: fonte2;
}

.logo{
    font-size: 2.5rem;
    color: white;
}

.logo-parts{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;

}

.logo-parts.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 1s;
}

.logo-parts.fade{
    bottom: 250px;
    opacity: 0;
    transition: ease-in-out 1s;
}

.content {
    width: 100%;
    padding: 50px;
    /* font-size: 1rem; */
    display: flex;
}




/* projetos-------------------- */

.pr-h1{
    font-family: fonte3;
    margin-top: 7em;
    color: #ffffff;
    box-shadow: 0 0 20px white;
    padding: 2em;
    text-align: center ;
}


.wrapper{
   padding: 10px 10%;
}

#card-area{
   padding: 50px 0;
}

.box-area{

display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
grid-gap: 20px;
margin-top: 50px;
}
   
.box{
   border-radius: 10px;
   position: relative;
   overflow: hidden;
   height: 100%;
   margin-top: 10em;
   box-shadow: 5px 5px 15px black;
   background: black;
}

.box img{
   width: 100%;
   height: 100%;
   border-radius: 10px;
   display: block;
   transition: transform 0.5s;
}

.overlay{
   height: 0;
   width: 100%;
   background: linear-gradient(transparent, #7c009ba8 58%);
   border-radius: 10px;
   position: absolute;
   left: 0;
   bottom: 0;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 0 40px;
   text-align: center;
   font-size: 14px;
   transition: height 0.5s;
}

.overlay h3{
   font-weight: 500;
   margin-bottom: 5px;
   margin-top: 80%;
   font-family: sans-serif;
   font-size: 20px;
   letter-spacing: 2px;
   color: #ff9100;
   font-family: fonte2;
}

.icon{
   color: #008aff;
   font-size: 20px;
   
}

.icon i{

   /* font-size: 30px; */
   color: rgb(0, 0, 0);
   line-height: 60px;
   cursor: pointer;
   transition: all .5s ease-in-out;
   margin-top: 10px;
   color: #ffffff;
   text-decoration: none;
   font-size: 35px;
   /* background: rgb(255, 0, 0); */
   text-align: center;
   padding: 5px 15px;
}

.icon i:hover{
    color: #000000;
    font-size: 45px;
}

.overlay p{
   width: 130%;
   color: #ffffff;
   font-size: 12px;
   font-family: fonte2;
}

.box:hover img{
   transform: scale(1.2);
}

.box:hover .overlay{
   height: 100%;
}

/* ----FOOOTEEEEEERRRR-------- */

.footer-container{
    margin-top: 25em;
    width: 100%;
    padding: 70px 30px 20px;
    box-shadow: 0 0 30px white;
    text-align: center;
}

.social-icon a{

    display: inline-block;
    width: 60px;
    height: 60px;
    background: rgba(128, 128, 128, 0.432);
    border-radius: 50%;
    text-align: center;
    margin: 0 8px;
    box-shadow: 0 4px 2px rgba(192, 192, 192, 0.541);
    transition: all .5s ease-in-out;
}

.social-icon i{
    
    font-size: 30px;
    color: rgb(0, 0, 0);
    line-height: 60px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}


.icon1:hover{
    background: rgb(0, 145, 189);
    box-shadow: 0 0 20px rgb(0, 145, 189);
    transform: translateY(-10px);
}

.icon2:hover{
    
    background: linear-gradient(5deg, purple, gold, red);
    box-shadow: 0 0 5px purple,
    0 0 10px gold,
    0 0 20px red;
    transform: translateY(-10px);
}

.icon3:hover{
    background: rgb(255, 255, 255);
    background-size: 20px;
    box-shadow: 0 0 20px rgb(255, 255, 255);
    transform: translateY(-10px);
}

.footerNav{
    margin: 30px 0;
}

.contato{
    margin: 30px 0;
    font-size: 1em;
}

.footerNav a{
    font-size: 1.5em;
    font-family: fonte2;
    color: #ffffff;
    text-decoration: none;
    /* box-shadow: 0 0 10px rgb(255, 255, 255); */
    border-radius: 10px 20px;
    padding: 10px;
    margin: 15px ;
    transition: all .5s ease-in-out;
}

.footerNav a:hover{
    background: rgb(58, 58, 58);
    box-shadow: 0 0 30px white;
    color: rgb(255, 255, 255);
}

.footer-bottom{
    color: #ffffff;
    /* background: linear-gradient(50deg, black,black,rgb(107, 0, 0), purple,black, black, black); */
    font-size: 1.5em;
    font-family: fonte2;
    padding: 2em;
    text-align: center;
}