body{
    min-height: 100vh;
    /* width: 90%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: grid; */
    /* place-items: center; */

    background: linear-gradient(40deg, black, rgba(255, 145, 0, 0.568), gray);
}

/* ----------SCROLL-------- */

::-webkit-scrollbar{
    width: 0;
}

#scrollPath{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255,255,255,0.05);
}

#progressobar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: gradientScroll 5s linear infinite;
}


/* ----ANIMAÇÃO SCROLL */

@keyframes gradientScroll {
    0%, 100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
    
}

#progressobar:before{

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #ffd000, #ff0000 );
    filter: blur(30px);
}

#progressobar:after{

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7 );
    filter: blur(30px);
}

/* ----FIM SCROLL */


/* --------- EFEITO VIDRO NAVBAR------- */

.header{

    max-height: 10%;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 1em;

    width: 100%;
    padding: 10px 15px;
    background: rgba(255, 255, 255, .1);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
}

.header::before{

    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255, .4), transparent);
    transition: 1s;
}

.header:hover:before{
    left: 100%;
}


/*---------------- BOTÃO NAVBAR------- */


.navbar a{
    color: white;
    font-size: 1.3em;
    text-decoration: none;
    margin-left: 35px;
    transition: 1s;
    font-family: fonte5;
    transition: all .5s ease-in-out;
    
}

.navbar a:hover{
    color: rgb(255, 230, 0);
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
    padding: 10px 15px;
    border-radius: 1.5em .5em;
    
}


/* --------FINAL BOTÃO NAVBAR */

/*---------LOGO NAVBAR ----------  */

.img-logo{
    margin-top: 10em;
    width: 30%;
    padding-right: 20%;
    transition: all 1s;
}

.img-logo:hover{
    margin-top: 15em ;
    width: 29%;
}




/* intro---------------------- */
html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: sans-serif;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    font-family: inherit;
    box-sizing: inherit;

}

img{
    width: 15%;
}

.intro{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    background-color: #000;
    transition: 2s;

}

.intro img{
    top: 150px;
    position: absolute;
}

.intro p{
    color: white;
    font-size: 1.5rem;
    margin-top: 150px;
}

.logo{
    font-size: 2.5rem;
    color: white;
}

.logo-parts{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;

}

.logo-parts.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 1s;
}

.logo-parts.fade{
    bottom: 250px;
    opacity: 0;
    transition: ease-in-out 1s;
}

.content {
    width: 100%;
    padding: 50px;
    /* font-size: 1rem; */
    display: flex;
}




/* projetos-------------------- */

.pr-h1{
    margin-top: 1em;
    color: #ffd000;
    box-shadow: 0 0 20px white;
    padding: 2em;
    text-align: center ;
}


.wrapper{
   padding: 10px 10%;
}

#card-area{
   padding: 50px 0;
}

.box-area{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
grid-gap: 20px;
margin-top: 50px;
}
   
.box{
   border-radius: 10px;
   position: relative;
   overflow: hidden;
   height: 100%;
   box-shadow: 5px 5px 15px black;
   background: black;
}

.box img{
   width: 100%;
   border-radius: 10px;
   display: block;
   transition: transform 0.5s;
}

.overlay{
   height: 0;
   width: 100%;
   background: linear-gradient(transparent, #7c009b8f 58%);
   border-radius: 10px;
   position: absolute;
   left: 0;
   bottom: 0;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 0 40px;
   text-align: center;
   font-size: 14px;
   transition: height 0.5s;
}

.overlay h3{
   font-weight: 500;
   margin-bottom: 5px;
   margin-top: 80%;
   font-family: sans-serif;
   font-size: 30px;
   letter-spacing: 2px;
}

.icon{
   color: #008aff;
   font-size: 40px;
}

.icon i{
   font-size: 30px;
   color: rgb(0, 0, 0);
   line-height: 60px;
   cursor: pointer;
   transition: all .5s ease-in-out;
   margin-top: 10px;
   color: #ffffff;
   text-decoration: none;
   font-size: 50px;
   /* background: rgb(255, 0, 0); */
   text-align: center;
   padding: 5px 15px;
}

.overlay p{
   width: 100%;
}

.box:hover img{
   transform: scale(1.2);
}

.box:hover .overlay{
   height: 100%;
}